@model SaveCustomerViewModel
@{
    Layout = "_MyLayout";
}

<h3 class="alert alert-success">Müşteri Eklendi</h3>
<form asp-controller="Customer" asp-action="SaveCustomer">
    Id: <input asp-for="Customer.Id" /> <br />
    Adı: <input asp-for="Customer.FirstName" /> <br />
    Soyadı: <input asp-for="Customer.LastName" /> <br />
    Şehir: <select asp-for="Customer.City" asp-items="Model.Cities"></select> <br />
    <button type="submit">Ekle</button>
</form>

